.auth {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.auth__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: -0.02em;
}
.auth__form {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 1.25rem;
    background-color: rgb(var(--clr-foreground-light));
    border: 1px solid rgba(var(--clr-foreground), 0.1);
    border-radius: 0.75rem;
    box-shadow: 0 4px 4px rgba(var(--clr-foreground), 0.1);
}
.auth__form__control {
    display: flex;
    flex-direction: column;
    margin-block-end: 1rem;
}
.auth__form__control__label {
    font-size: 0.9375rem;
    font-weight: 500;
    margin-block-end: 0.25em;
}
.auth__form__control__input {
    font-size: 0.9375rem;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
}
.auth__form__submit {
    margin-block-start: 1rem;
}
.auth__form__submit__btn {
    width: 100%;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    line-height: 1;
    cursor: pointer;
}
.auth__form__submit__btn--blue {
    background-color: rgb(var(--clr-blue));
    box-shadow: 0 0.25em rgb(var(--clr-blue-dark));
    color: white;
}
.auth__form__submit__btn--red {
    background-color: rgb(var(--clr-red));
    box-shadow: 0 0.25em rgb(var(--clr-red-dark));
    color: white;
}
.auth__cta {
    margin-block-start: 1rem;
}
.auth__cta__link:hover {
    text-decoration: underline;
}
