{% extends 'layout.html.j2' %}

{% block content %}
{% if display_user.username != current_user.username %}
{% if pokemans %}
<div class="team-heading-container">
    <h2 class="team-heading">{{display_user.username}}&apos;s team &nbsp;|&nbsp; {{ display_user.record }}</h2>
    <a class="btn btn-red" href="{{ url_for('poke.battle', username=display_user.username) }}">BATTLE!</a>
</div>
{% else %}
<h2 class="team-heading">{{display_user.username}} hasn&apos;t caught any pokemans yet!</h2>
{% endif %}
{% else %}
{% if pokemans %}
<div class="team-heading-container">
    <h2 class="team-heading">My team &nbsp;|&nbsp; {{ current_user.record }}</h2>
</div>
{% else %}
<h2 class="team-heading">You haven&apos;t caught any pokemans yet!</h2>
{% endif %}
{% endif %}

{% if pokemans %}
<div class="team-pokemans">
    {% for poke in pokemans %}
    <div class="poke-card" data-background="{{ poke.poke_type }}">
        <div class="poke-header">
            <h2>{{ poke.name.title() }}</h2>
            {% if current_user.username == display_user.username %}
            <a class='btn-small btn-red' href="{{ url_for('poke.release', poke_id=poke.id) }}">Release</a>
            {% endif %}
        </div>
        <img src="{{ poke.sprite_url }}" alt="{{ poke.name }}">
        <div class="poke-section">
            <h3>Types</h3>
            <div class="poke-types">
                {% for type in poke.types.split() %}
                <p>{{ type.title() }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="poke-section">
            <h3>Abilities</h3>
            <div class="poke-abilities">
                {% for ability in poke.abilities.split() %}
                <p>{{ ability.title() }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="poke-section">
            <h3>Stats</h3>
            <div class="poke-stats">
                <p>HP: {{ poke.base_hp }}</p>
                <p>ATK: {{ poke.base_atk }}</p>
                <p>SPD: {{ poke.base_spd }}</p>
                <p>DEF: {{ poke.base_def }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}