:root {
    --clr-text-light: hsl(0, 0%, 100%);
    --clr-text-dark: hsl(0, 0%, 13%);

    --clr-header: hsl(0, 0%, 85%);
    --clr-bg: hsl(0, 0%, 96%);
    --clr-bg-dark: hsl(0, 0%, 91%);

    --clr-yellow: hsl(48, 100%, 51%);
    --clr-yellow-light: hsl(48, 100%, 56%);
    --clr-yellow-dark: hsl(48, 100%, 46%);
    --clr-yellow-darker: hsl(48, 100%, 30%);

    --clr-blue: hsl(213, 57%, 45%);
    --clr-blue-light: hsl(213, 57%, 50%);
    --clr-blue-dark: hsl(213, 57%, 36%);
    --clr-blue-darker: hsl(213, 57%, 20%);

    --clr-red: hsl(0, 100%, 50%);
    --clr-red-light: hsl(0, 100%, 55%);
    --clr-red-dark: hsl(0, 100%, 45%);
    --clr-red-darker: hsl(0, 100%, 30%);

    --border-radius: 0.75rem;
    --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--clr-bg);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*
HEADER NAV
header_nav.html.j2
*/
header {
    background-color: var(--clr-header);
    position: sticky;
    z-index: 99999;
    top: 0;
    margin-bottom: 4rem;
    box-shadow: var(--box-shadow);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.nav > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-link-animated {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.nav-link-animated:is(:hover, :focus) img {
    animation: wobble 1500ms ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes wobble {
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(0deg);
    }
}

.nav img {
    width: 3rem;
    aspect-ratio: 1 / 1;
}

/*
FOOTER
footer.html.j2
*/
footer {
    background-color: #333;
    color: white;
    display: grid;
    place-items: center;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
POKE SEARCH
search.html.j2
*/
.poke-results {
    margin-top: 2rem;
}

/*
POKE TEAM
team.html.j2
*/
.team-heading {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.team-no-pokemans {
    margin-bottom: 2rem;
}

.team-pokemans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: max-content;
    gap: 2rem;
    padding-bottom: 8rem;
}

/*
POKEMON CARD
poke_card.html.j2
*/
.poke-card {
    border: calc(5 / 16 * 1rem) solid var(--clr-yellow);
    background-color: var(--clr-bg-dark);
    border-radius: var(--border-radius);
    width: 18rem;
    max-height: 30rem;
    padding: 0.5rem 0.75rem;
    box-shadow: var(--box-shadow);
    transition: all 150ms ease-in-out;
}

.poke-card:hover {
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    transform: translateY(-0.125rem);
}

.poke-header {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poke-card img {
    margin: 0 auto;
    width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: fill;
}

.poke-section:not(:last-of-type) {
    margin-bottom: 0.75rem;
}

.poke-types {
    display: flex;
    gap: 2ch;
}
.poke-abilities {
    display: flex;
    gap: 2ch;
}

.poke-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*
FORMS
*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: var(--clr-bg-dark);
    width: min(24rem, 90%);
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.form-horizontal {
    flex-direction: row;
}

.form-inputs {
    width: 100%;
}

.form-row {
    padding: 0.375rem 0.75rem;
    width: 100%;
}
.form-row:not(:last-child) {
    margin-bottom: 0.375rem;
}

.form-btns {
    margin-bottom: 0.2rem;
}

.form p {
    font-size: 0.875rem;
}

.form p a {
    font-weight: 700;
    margin-left: 1ch;
    padding-bottom: 1px;
}
.form p a:is(:hover, :focus) {
    border-bottom: 2px solid var(--clr-text-dark);
}

/*
BUTTONS
*/
.btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

.btn-small {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
}

.btn-yellow {
    background-color: var(--clr-yellow);
    color: var(--clr-text-dark);
    box-shadow: 0 0.2rem var(--clr-yellow-darker);
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.btn-yellow:is(:hover, :focus) {
    transform: translateY(0.2rem);
    box-shadow: none;
}

.btn-blue {
    background-color: var(--clr-blue);
    color: var(--clr-text-light);
    box-shadow: 0 0.2rem var(--clr-blue-darker);
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.btn-blue:is(:hover, :focus) {
    transform: translateY(0.2rem);
    box-shadow: none;
}

.btn-red {
    background-color: var(--clr-red);
    color: var(--clr-text-light);
    box-shadow: 0 0.2rem var(--clr-red-darker);
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.btn-red:is(:hover, :focus) {
    transform: translateY(0.2rem);
    box-shadow: none;
}
