{% extends 'layout.html.j2' %}

{% block content %}
{% if user %}
<h2 class="team-heading">{{user.username}}&apos;s team</h2>
{% endif %}

{% if not pokemans or pokemans|length < 5 %}
<div class="team-no-pokemans">
    {% if not pokemans %}
    <h2 class="team-heading">You have no pokemans!</h2>
    {% endif %}
    {% include 'search_form.html.j2' %}
</div>
{% endif %}

<div class="team-pokemans">
    {% for poke in pokemans %}
    <div class="poke-card" data-background="{{ poke.poke_type }}">
        <div class="poke-header">
            <h2>{{ poke.name.title() }}</h2>
            <a class='btn-small btn-red' href="{{ url_for('poke.release', poke_id=poke.id) }}">Release</a>
        </div>
        <img src="{{ poke.sprite_url }}" alt="{{ poke.name }}">
        <div class="poke-section">
            <h3>Types</h3>
            <div class="poke-types">
                {% for type in poke.types.split() %}
                <p>{{ type.title() }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="poke-section">
            <h3>Abilities</h3>
            <div class="poke-abilities">
                {% for ability in poke.abilities.split() %}
                <p>{{ ability.title() }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="poke-section">
            <h3>Stats</h3>
            <div class="poke-stats">
                <p>HP: {{ poke.base_hp }}</p>
                <p>ATK: {{ poke.base_atk }}</p>
                <p>SPD: {{ poke.base_spd }}</p>
                <p>DEF: {{ poke.base_def }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}