{% extends 'layout.html.j2' %}


{% block content %}
<h2>Login</h2>

<form class='form' method="POST">
    {{ form.hidden_tag() }}
    <div class="form-inputs">
        {{ form.username(class='form-row') }}
        {{ form.password(class='form-row') }}
    </div>
    <div class="form-btns">
        {{ form.submit(class='btn btn-blue', value='Login') }}
    </div>
    <p>New to Pokemans App?<a href="{{ url_for('auth.register_page') }}">Register</a></p>
</form>

{% endblock %}