{% extends 'layout.html.j2' %}


{% block content %}

<form class='form' method="POST">
    <h2 class="form-title">Register</h2>
    {{ form.hidden_tag() }}
    <div class="form-inputs">
        {{ form.username(class='form-input') }}
        {{ form.email(class='form-input') }}
        {{ form.password(class='form-input') }}
        {{ form.confirm_password(class='form-input') }}
    </div>
    <div class="form-btns">
        {{ form.submit(class='btn btn-yellow') }}
    </div>
    <p>Already have an account?<a href="{{ url_for('auth.login') }}">Login</a></p>
</form>

{% endblock %}