<header>
    <nav class="nav container">
        <div>
            <a class='nav-link-animated' href="{{ url_for('home.landing') }}">
                <img src="{{ url_for('static', filename='pokeball.png') }}" alt="">
                <h1>PokeBattle</h1>
            </a>
            {% if user.is_authenticated %}
            <form class="header-form" method="POST" action="{{ url_for('poke.search') }}">
                {{ form.hidden_tag() }}
                <div class="form-inputs">
                    {{ form.pokemon(class='form-input') }}
                </div>
                <div class="form-btns">
                    {{ form.submit(class='btn btn-yellow') }}
                </div>
            </form>
            {% endif %}
        </div>
        <div>
            {% if not user.is_authenticated %}
            <a class='btn btn-yellow' href="{{ url_for('auth.register') }}">Register</a>
            <a class='btn btn-blue' href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a class='btn btn-red' href="{{ url_for('user.team', username=user.username) }}">My team</a>
            <a class='btn btn-blue' href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
    </nav>
</header>